*{
    box-sizing: border-box;
    border: 0px;
    margin: 0px;
}
.operator{
    background-color: orange;
}
.white{
    background-color: white;
}
#heading{
    text-align: center;
    padding: 20px;
}
#container{
    border: 2px solid black;
    background-color: aqua;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 500px;
}
#outputBox{
    height: 100px;
    border: 2px solid gray;
    position: relative;
}
#result{
    font-size: 30px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
    font-weight: bold;
}
#signFirstRow{
    height: 80px;
    border: 2px solid gray;
    display: flex;
    flex-direction: row;
}
.firstRowElement{
    border: 2px solid gray;
    flex-grow: 1;
    text-align: center;
    padding: 5px;
    background-color: orange;
    font-size: 60px;
    cursor: pointer;
}
#digitRows{
    height:240px;
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
}
#firstRow{
    display: flex;
    flex-direction: row;
    height: 80px;
}
#secondRow{
    display: flex;
    flex-direction: row;
    height: 80px;
}
#thirdRow{
    display: flex;
    flex-direction: row;
    height: 80px;
}
.element{
    border: 2px solid gray;
    width: 25%;
    text-align: center;
    padding: 5px;
    font-size: 60px;
    cursor: pointer;
}
#lastRow{
    height: 80px;
    border: 2px solid gray;
    display: flex;
}
#zero{
    width: 37.5%;
}
#dot{
    width: 37.5%;
}
